<footer class="footer">
  <div class="footer-grid">
    <div>
      <div class="footer-logo">⚽ Soto<span>Ibarbasoa</span></div>
      <p class="footer-desc">Unidos por la pasión al fútbol. El Soto Ibarbasoa, un club con historia, valores y un futuro brillante por delante.</p>
    </div>
    <div>
      <div class="footer-col-titulo">Secciones</div>
      <ul class="footer-links">
        <li><a href="/blog">Noticias</a></li>
        <li><a href="/equipo">Plantilla</a></li>
        <li><a href="/tienda">Tienda</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </div>
    <div>
      <div class="footer-col-titulo">Club</div>
      <ul class="footer-links">
        <li><a href="/patrocinadores">Patrocinadores</a></li>
        <li><a href="/contacto">Hazte socio</a></li>
        <li><a href="/contacto">Prensa</a></li>
      </ul>
    </div>
    <div>
      <div class="footer-col-titulo">Síguenos</div>
      <ul class="footer-links">
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Twitter / X</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">YouTube</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <span>&copy; <%= new Date().getFullYear() %> Soto Ibarbasoa. Todos los derechos reservados.</span>
    <span>Hecho con ❤️ para la afición</span>
  </div>
</footer>

<script src="/js/main.js"></script>
</body>
</html>
